{% extends 'poll/base.html' %}

{%block title%}
Пройденные опросы
{% endblock %}

{%block content%}

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Дата</th>
                <th scope="col">Пользователь</th>
                <th scope="col">Вопрос</th>
                <th scope="col">Ответ</th>
            </tr>
        </thead>

        {% for survey, data_survey in surveys_list.items %}
            <tbody>
                <tr class="table-active text-dark">
                    <td colspan="4">{{ survey }} </td>
                </tr>
                {% for answer in data_survey %}
                <tr>
                    <td>{{ answer.pub_date }}</td>
                    <td>{{ answer.user }}</td>
                    <td>{{ answer.question.question_text }}</td>
                    <td>{{ answer.answer }}</td>
                </tr>
                {% endfor %}
            </tbody>
        {% endfor %}
    </table>


{% endblock %}